<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Was Sie erwarten können</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary"></i>
                    <h3>Entspannung als Delivery</h3>
                    <p class="text-muted">Ihre Massage darf nach Bedarf auch bei Ihnen zuhause erfolgen. Was Sie verdienen, sollte auch zu Ihnen kommen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-history wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ruhe muss flexibel sein</h3>
                    <p class="text-muted">Wir machen das Mögliche um Ihren Termin entgegenzunehmen wann es Ihnen passt. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nicht nur Körpersprache</h3>
                    <p class="text-muted">Wir sprechen mehrere Sprachen. Wir können Sie in Deutsch & Schweizerdeutsch, Spanisch, Portugiesisch und Englisch sprachlos massieren.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mit Leidenschaft, bitte</h3>
                    <p class="text-muted">Unsere allerhöchste Leidenschaft ist es Ihnen angenehme, entspannte und erinnerungswerte Momente zu gestalten.</p>
                </div>
            </div>
        </div>
    </div>
</section>
